/*
	font-family:'Trade Gothic W01 Roman';
	font-family:'Trade Gothic W01 Obl';
	font-family:'TradeGothicW01-BoldObl';
	font-family:'Trade Gothic W01 Bold 2';
	font-family:'TradeGothicW01-Bold2Obl';
	font-family:'Trade Gothic W01 Cn 18';
	font-family:'TradeGothicW01-Cn18Obl';
	font-family:'TradeGothicW01-BoldCn20 675334';
	font-family:'TradeGothicW01-BoldCn20 675337';
*/


/*
	Global
*/
html, body { width: 100%; height: 100%; background-color: #FFFFFF; overflow: hidden; }

#mti_wfs_colophon { display: none !important; }

img { display: block; }

/*
	Back to top
*/
#backtotop { cursor: pointer; position: fixed; right: 0px; top: 50%; margin-top: -51px; z-index: 10000; display: none; }

/*
	Header
*/
#header { width: 100%; height: 0px; background: #000000; position: absolute; top: 0px; left: 0px; position: relative; z-index: 10; }
#logo { overflow: hidden; width: 315px; height: 146px; display: block; position: absolute; bottom: -146px; left: 0px; cursor: pointer; background: url("../img/mobile/logo.png") top left no-repeat; background-position: 0px 0px; background-size: 200% 100%; }
#uparrow { color: #FFFFFF; font: normal 23px 'TradeGothicW01-BoldCn20 675334'; position: absolute; bottom: 15px; left: 0px; width: 100%; text-align: center;  }
#logo.open { background-position: -315px 0px; }
#header .content {
	display: none; 
	height: 100%;
	width: 100%;
	padding-top: 100px;
}
#header .content h1 { color: #FFFFFF; text-align: center; margin: 44px 0px; font: normal 60px 'TradeGothicW01-BoldCn20 675334'; } /* TradeGothicLTStd Cn18 */
#header .content p { color: #FFFFFF; text-align: center; width: 520px; margin: 0 auto; font: normal 23px 'TradeGothicW01-BoldCn20 675334'; }
#header .content p.padding { margin-bottom: 20px; }
#header .content p.center { text-align: justify; }
#header .content a { color: #FFFFFF; }
#header .content h1 a { text-decoration: underline; color: #FFFFFF; }

/*

	Videos
*/
#wrapper { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow-y: scroll; z-index: 1; padding-top: 188px; -webkit-overflow-scrolling: touch; }

.video { width: 584px; height: 432px; position: relative; margin: 0 auto; margin-bottom: 59px; }
.hide-now { display: none; }
.video .loading-wrapper { position: absolute; top: 0px; left: 0px; width: 584px; height: 328px; z-index: 1; background-color: #F5F5F5; }
.video .loading-wrapper img { position: absolute; top: 132px; left: 263px; z-index: 1; width: 48px; height: 48px; }
.video .thumb { position: absolute; top: 0px; left: 0px; width: 584px; height: 328px; z-index: 2; display: none; }
.video .title { position: absolute; top: 358px; left: 0px; width: 100%; text-align: center; color: #000000; text-transform: uppercase; opacity: .7; }
.video .title .main { font: normal 26px "TradeGothicW01-BoldCn20 675334"; }
.video .title .it { font-weight: normal; font: normal 26px "TradeGothicW01-BoldCn20 675337"; }
.video .role-wrapper { width: 100%; position: absolute; top: 420px; left: 0px; text-align: center; }
.video .role { padding: 9px 20px; display: inline; background-color: #000000; color: #FFFFFF; text-transform: uppercase; font: normal 18px "TradeGothicW01-BoldCn20 675334"; margin: 0 auto; }